/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg-image: url("../images/cover-image-dark.png");
  --bg-color: #000028;
  --accent-bg-color: #FF0070;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --accent-title-color: #000028;
  --shadow-color: #FF0070;
  --link-shadow-color: #FF0070;
  --decor-elements-color: #FF0070;
  --button-color: #FF0070;
  --button-opacity-color: rgba(255, 0, 112, 0.40);
  --line-height: 130%;
  --main-font: 'IBM Plex mono', sans-serif;
  --rec-color: #ff0070;
  --rec-visability: visible;
}
